/* 

.backgroundImage {
    background-image: url('../Assets/hero-wave.svg');
    background-repeat: no-repeat;
    background-position:top;
    background-size:contain;
    

} */

.formDiv {
    min-width: 50%;
    min-height: 60vh;
    margin-top: 15px;
       
}

.back {
    /* background: url('../Assets/hero-wave.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto; */
    padding-top: 50px;
}



.header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



.buttonBlock {
    text-align: center;
}


.chooseButton {
   min-width: 200px;
   padding: 10px;
   margin: 15px;
   font-size: 22px;
   min-height: 75px;
}


.test {
    padding-top: 50px;
}

@media (max-width: 1085px ) {

    .test {
        padding-top: none;
    }

    .formDiv {
        min-width: 50%;
        height: 80vh;
           
    }
    
}

@media (max-width: 600px ) {

    .test {
        padding-top: none;
    }

    .formDiv {
        min-width: 50%;
        height: 80vh;
           
    }
    
}